 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 412px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 537px;
  font-weight: 700;
  text-align: center;
  margin: 14px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  width: 537px;
  font-size: 1.25rem;
  margin: 14px auto 0;
  text-align: left;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: Ubuntu, sans-serif;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    font-size: 15px;
  }
} .u-section-2 {
  background-image: none;
}


.u-section-2 .u-sheet-1 {
  min-height: 1730px;
  /* min-height: 3230px; */
  margin-bottom: 0;
}

.u-section-2 .u-gallery-1 {
  height: 1600px !important;
  /* object-fit: fill; */
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 22px 10px;
}
.u-section-2 .u-back-image-1 {
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-2 {
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-3 {
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-back-image-4 {
  object-position: 0 70%;
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-5 {
  object-position: 40%;
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-6 {
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-7 {
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-8 {
  /* object-position: 40% 390%;
  width: 500px !important;
  height: 300px !important;
  object-fit: cover !important; */
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-9 {
  object-position: 0 100%;
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-10 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-10 {
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-gallery-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-back-image-11 {
  object-position: 60% 0;
  width: 334px !important;
  object-fit: cover !important;
  height: 400px !important;
}

.u-section-2 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}
@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    height: 2500px !important;
    object-fit: fill;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-gallery-1 {
    height: 2100px !important;
    object-fit: fill;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px 15px;
  }
}

@media (max-width: 575px) {
  

  .u-section-2 .u-gallery-1 {
    height: 3984px !important
  }
  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
  }
}