#more {
  display: none;
}
.centerBtn {
  display: flex;
  justify-content: center;
}
#myBtn {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #FFFF00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#myBtn:hover {
  opacity: 0.8;
}
#myBtn:focus {
  outline: none;
}
